<h1>Redefinir Senha</h1>
<form action="/auth/reset-password/{{token}}" method="POST">
  <div>
    <label for="novaSenha">Nova Senha</label>
    <input type="password" id="novaSenha" name="novaSenha" required>
  </div>
  <div>
    <label for="confirmarSenha">Confirmar Nova Senha</label>
    <input type="password" id="confirmarSenha" name="confirmarSenha" required>
  </div>
  <button type="submit">Redefinir Senha</button>
</form>
