<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <h3>Sobre Nós</h3>
            <p>O Núcleo Psicossocial (NUPS) oferece suporte emocional e psicológico para guardas municipais, promovendo a saúde mental e o bem-estar de nossos profissionais.</p>
        </div>
        <div class="footer-links">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#quem-somos">Sobre</a></li>
                <li><a href="#quem-somos">Serviços</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </div>
        <div class="footer-contato">
             <h3>Contato</h3>
            <p>Email: acolhimentonups@gmail.com</p>
            <br>
            <p>Telefone: 71 3202-5313 GEDHU </p>
              <br>
            <p>Telefone: 71 99991-6907 Sv Social NUPS</p>

        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Núcleo Psicossocial. Todos os direitos reservados.</p>
    </div>
</footer>
</body>
</html>