
    <header>
            <script src="https://cdn.tiny.cloud/1/w8yzxz4eqd1p9z5m7pvshyq9lo2cuh2ozu2hidlvu316q6ay/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
            <link rel="stylesheet" href="/CSS/Header.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <link rel="icon" type="image/png" sizes="16x16"  href="/IMG/favicon-16x16.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/public/IMG/favicon-16x16.ico">

        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="/IMG/pisico-removebg-preview.png"  alt="Logo">
            </div></a>
            <ul class="nav-links" id="nav-links">
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/Quem_Somos">O Nups</a></li>
                <li><a href="#contato">Contato</a></li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Serviços ⌵</a>
                    <ul class="dropdown-content">
                        <li><a href="/Atividades">Valorização e Promoção</a></li>
                        <li><a href="/Quadro-Modalidades">Quadro de Modalidade Esportivas</a></li>
                    </ul>
                </li>
                <li><a href="/Nups-Noticias">Blog</a></li>
                <li><a href="/Nups-Eventos">Eventos</a></li>
            </ul>

            <div class="social-icons">
            <a href="https://www.instagram.com/gedhu.gms" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram" style="color: #E1306C; font-size: 24px;"></i>
            </a>
            <a href="https://wa.me/71999940373" target="_blank" aria-label="WhatsApp">
                <i class="fab fa-whatsapp" style="color: #25D366; font-size: 24px;"></i>
            </a>
            </div>
            <div class="hamburger" id="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    
    <script src="/JS/Header_script.js"></script>