

  <div class="container text-center mt-5">
        <h1>Bem-vindo ao Dashboard Administrativo.</h1>
      <a href="/profissionais" class="nav-link" aria-label="Gerenciar Profissionais">
        <i class="fas fa-user-md"></i>
        <span>Profissionais</span>
      </a>
      <a href="/pacientes" class="nav-link" aria-label="Gerenciar Pacientes">
        <i class="fas fa-users"></i>
        <span>Pacientes</span>
      </a>
      <a href="/atendimentos" class="nav-link" aria-label="Gerenciar Atendimentos">
        <i class="fas fa-calendar-check"></i>
        <span>Atendimentos</span>
      </a>
      <a href="/ocorrencias" class="nav-link" aria-label="Gerenciar Ocorrências">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Ocorrências</span>
      </a>
      <a href="/produtos" class="nav-link" aria-label="Gerenciar Estoque">
        <i class="fas fa-boxes"></i>
        <span>Estoque</span>
      </a>
      <a href="/salas" class="nav-link" aria-label="Salas">
        <i class="fas fa-calendar-alt"></i>
        <span>Cadastro de Salas</span>
      </a>
      <a href="/reservas" class="nav-link" aria-label="Gerenciar Reservas de Salas">
        <i class="fas fa-door-open"></i>
        <span>Salas</span>
      </a>
      <a href="/escalas" class="nav-link" aria-label="Gerenciar Escalas">
        <i class="fas fa-sign-out-alt"></i>
        <span>Escalas</span>
      </a>
      <a href="/eventos" class="nav-link" aria-label="Eventos">
        <i class="fas fa-calendar-alt"></i>
        <span>Eventos</span>
      </a>
  </div>
