 <h2>Relatório de Escalas</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Profissional</th>
          <th>Início</th>
          <th>Fim</th>
        </tr>
      </thead>
      <tbody>
        {{#each escalas}}
          <tr>
            <td>{{this.data}}</td>
            <td>{{this.admin.nome}}</td>
            <td>{{this.horarioInicio}}</td>
            <td>{{this.horarioFim}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  <div class="br-divider my-3"></div>
  <div class="container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3 text-center">
        Texto destinado a exibição de informações relacionadas à
        <strong>licença de uso.</strong>
      </div>
    </div>
  </div>