<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - NUPS</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS/styles.css">

  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.3/main.min.css" rel="stylesheet" />

  <!-- FullCalendar JS -->
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.3/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.3/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.3/main.min.js"></script>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    {{#unless esconderHeader}}
      {{>header}}
    {{/unless}}  

  <div class="main-wrapper">
<nav class="sidebar">
  <ul class="menu">
    {{log cargo}} <!-- Debug do valor de user.cargo -->
    {{#ifEquals cargo "Administrador"}}
      <li><a href="/dashboard/adm"><i class="fas fa-home icon"></i> <span>Dashboard</span></a></li>
      <li><a href="/pacientes"><i class="fas fa-user icon"></i> <span>Ficha de Acolhimento</span></a></li>
      <li><a href="/profissionais"><i class="fas fa-user icon"></i> <span>Profissionais</span></a></li>
      <li><a href="/reservas"><i class="fas fa-user icon"></i><span>Reserva de salas</span></a></li>
      <li><a href="/relatorios"><i class="fas fa-chart-line icon"></i> <span>Relatórios</span></a></li>
    {{/ifEquals}}

    {{#ifEquals cargo "Assistente social"}}
      <li><a href="/dashboard/assistente-social"><i class="fas fa-home icon"></i> <span>Dashboard</span></a></li>
      <li><a href="/pacientes"><i class="fas fa-user icon"></i> <span>Ficha de Acolhimento</span></a></li>
      <li><a href="/escalas"><i class="fas fa-user icon"></i><span>Escalas</span></a></li>
      <li><a href="/reservas"><i class="fas fa-user icon"></i><span>Reserva de salas</span></a></li>
    {{/ifEquals}}

    <li class="menu-sair"><a href="/auth/logout"><i class="fas fa-sign-out-alt icon"></i> <span>Sair</span></a></li>
  </ul>
</nav>

    <main class="main-content">
      {{#if errorMessage}}
        <div class="alert alert-danger">{{errorMessage}}</div>
      {{/if}}

      {{{body}}}

    </main>
  </div>

  <!-- Custom JavaScript -->
  <script src="/JS/script.js"></script>
</body>
<footer></footer>
</html>
