<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Seu CSS personalizado -->
<link rel="stylesheet" href="/CSS/Pagina_inicial.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/IMG/icon_977f3e2bcddf369e2f257f54d0d977d1.ico">

    <title>VALORIZAÇÃO E PROMOÇÃO</title>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>


<br><br><br>
<main class="main-content" id="Pagina_Incial">
<div class="main-container slide-in" style="text-align: center;">
    <h1 class="main-title">VALORIZAÇÃO E PROMOÇÃO
        <span class="Cores_texto"></span></h1>
    <p class="description-at">
    O Centro de Valorização da GCM oferece um amplo quadro de Atividades esportivas e terapêuticas, que tem como principal benefício a promoção da saúde mental e do bem-estar dos Guardas Municipais. Essas atividades ajudam a reduzir o estresse, melhorar o humor, aumentar a autoestima e fortalecer laços sociais. 
    Elas também promovem a resiliência e o autocuidado, contribuindo para um ambiente de valorização e empatia entre os profissionais e a sociedade.    
    </p>
</div>
</main>



<main class="main-content" id="Pagina_Incial">
    
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="max-width: 600px; width: 100%; margin: 2rem auto;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/IMG/23.png" alt="Imagem que representa a missão" style="width: 95%; height: auto; border-radius: 8px;">
                <div class="carousel-caption" style="background-color: rgba(0, 123, 255, 0.8); padding: 1rem; border-radius: 8px;">
                    <p>Aulas de natação</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/IMG/24.png" alt="Outra imagem" style="width: 100%; height: auto; border-radius: 8px;">
                <div class="carousel-caption" style="background-color: rgba(0, 123, 255, 0.8); padding: 1rem; border-radius: 8px;">
                    <p>Partidas de futebol</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>

    <div class="main-container slide-in">
        <h2 class="titulo-missao"><span class="Cores_texto">Atividades esportivas / terapêuticas</span></h2>
        <hr class="linha-missao"><br>
        <p class="descricao-missao">
            Nosso compromisso é oferecer um espaço acolhedor para o suporte emocional e psicológico dos guardas municipais, fortalecendo a resiliência e o autocuidado.
                <ul class="lista-atividades">
        <li>🏐 Vôlei de praia</li>
        <li>⚽ Futevôlei</li>
        <li>🏊 Natação</li>
        <li>💃 Forró</li>
        <li>🧘 Pilates</li>
        <li>🕉️ Yoga</li>
        <li>💆 Massoterapia</li>
        </ul>
        </p>
    </div>

</main>


<main class="main-content" id="Pagina_Incial">
    <div class="main-container slide-in">
        <h2 class="titulo-missao"><span class="Cores_texto">Fight team - time de luta da GCM</span></h2>
        <hr class="linha-missao"><br>
        <p class="main-description" style="text-align: justify;">
        </p>
        <ul class="lista-atividades">
            <li>🥊 Boxe</li>
            <li>🥋 Jiu Jitsu</li>
            <li>🥋 Karatê</li>
            <li>🪢 Capoeira</li>
            <li>🥋 Aikido</li>
            <li>🗡️ Aido</li>
            <li>⚔️ Kendo</li>
        </ul>
    </div>

<div id="carouselExample1" class="carousel slide" data-bs-ride="carousel" style="max-width: 600px; width: 100%; margin: 2rem auto;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/IMG/kendu.jpg" alt="Imagem que representa a missão" style="width: 100%; height: 400px; border-radius: 8px;">
            <div class="carousel-caption" style="background-color: rgba(0, 123, 255, 0.8); padding: 1rem; border-radius: 8px;">
                <p>Kendo</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/IMG/Jiu jitsu.jpg" alt="Outra imagem" style="width: 100%; height: 400px; border-radius: 8px;">
            <div class="carousel-caption" style="background-color: rgba(0, 123, 255, 0.8); padding: 1rem; border-radius: 8px;">
                <p>Jiu Jitsu</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</main>



<section id="contato">
    <h2 class="titulo-contato" style="align-items: center;">Entre em  <span class="Cores_texto">Contato</span></h2>
    <div class="contato-container">

    <div class="informacoes">
        <h2>Detalhes de Contato</h2><br>
        <p><strong>Endereço:</strong><br> 
            Parque Lagoa dos Pássaros, Travessa Arnaldo Lopes da Silva, 1, Stiep, Salvador - BA
        </p><br>
        <p><strong>Telefones:</strong><br> 
            <a href="tel:+557132025313">71 3202-5313 (GEDHU)</a><br>
            <a href="tel:+5571999916907">71 99991-6907 (Sv Social NUPS)</a>
        </p><br>
        <p><strong>WhatsApp NUPS:</strong><br> 
            <a href="https://wa.me/5571999940373" target="_blank">71 99994-0373</a>
        </p><br>
        <p><strong>Email:</strong><br> 
            <a href="mailto:acolhimentonups@gmail.com">acolhimentonups@gmail.com</a>
        </p><br>
        <p><strong>Horário de Atendimento:</strong><br> 
            Seg - Sex: 08:00 - 17:00
        </p>
    </div>

        <div class="formulario">
            <h3>Fale conosco</h3>
                <form action="/contato/enviar" method="POST"  class="formulario-contato">
                <label for="nome">Seu Nome:</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="email">Seu Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="telefone">Seu Telefone (WhatsApp):</label>
                <input type="tel" id="telefone" name="telefone" required>
                                
                <label for="mensagem">Sua Mensagem:</label>
                <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
                
                <button type="submit" class="botao-enviar">Enviar</button>

                
            </form>
        </div>
    </div>
</section>
    
<script src="/JS/Pagina_Inicial.js"></script>    
</body>
</html>



<style>
  /* Estilos para as mensagens de alerta */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: white;            
    padding: 10px 30px; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: opacity, transform;
}

.alert {
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.center-text {
    text-align: center;
}

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black; /* Altera a cor dos botões para preto */
        border-radius: 50%; /* Deixa os ícones mais arredondados (opcional) */
        width: 50px;
        height: 50px;
    }


</style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {{#if error_msg}}
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: '{{error_msg}}',
                    confirmButtonText: 'Ok'
                });
            {{/if}}
            
            {{#if success_msg}}
                Swal.fire({
                    icon: 'success',
                    title: 'Sucesso',
                    text: '{{success_msg}}',
                    confirmButtonText: 'Ok'
                });
            {{/if}}
        });
    </script>