<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Pagina_inicial.css">
    <title>Nups</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/IMG/favicon2-16x16.png">

            <!-- SweetAlert2 CSS (Opcional, apenas se quiser customizar) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>


<main class="main-content" id="Pagina_Incial">
    <div class="main-container slide-in">
        <h1 class="main-title">Núcleo <span class="Cores_texto">Psicossocial - Nups</span></h1>
        <p class="main-description" style="text-align: justify;">
        Sejam todas as pessoas bem-vindas ao Núcleo Psicossocial! <br>
        A Gerência de Desenvolvimento Humano, através do seu Centro de Valorização da Guarda Civil Municipal de Salvador apresenta o Núcleo Psicossocial.
        O NUPS está presente e atento na aplicação da política de saúde mental voltada aos Guardas Municipais da Cidade de Salvador, oferecendo apoio psicológico, atividades terapêuticas e programas de atenção psicossocial 
        e de saúde com o intuito de prevenir os possíveis danos causados pelo exercício da atividade de segurança pública.        
        </p>

        <div class="button-container">
            <a href="#contato" class="button contate-nos">Contate-nos</a>
        </div>
    </div>
    <div class="main-image  slide-in" >
        <img src="IMG/Equipe-Nups.jpeg" alt="Imagem representativa do Núcleo Psicossocial">
    </div>
</main>

<section id="quem-somos">
    <div class="imagem-quemsomos">
        <img src="/IMG/Roda de conversa - Nups.jpeg" alt="Imagem que representa a missão">
    </div>
    <div class="texto-quemsomos">
        <h2 class="titulo-missao">Nossa <span class="Cores_texto">Missão</span></h2>
        <hr class="linha-missao">
        <p class="descricao-missao">
            Nosso compromisso é oferecer um espaço acolhedor para o suporte emocional e psicológico dos Guardas Municipais, fortalecendo a resiliência e o autocuidado. 
            Buscamos promover a saúde mental e o bem-estar, com serviços de apoio e orientação para enfrentar os desafios da profissão. Nosso objetivo é criar um ambiente de valorização e empatia, fortalecendo os vínculos entre a corporação, a sociedade e os agentes, minimizando os impactos do estresse e da exposição à violência.
        </p>
        <a href="./Quem_Somos" class="button saber-mais">Saber Mais</a>
    </div>
</section>

<section id="valores">
    <h2 class="titulo-valores">Nossos <span class="Cores_texto">Valores</span> </h2>
    <div class="cards-container">
        <div class="card">
            <div class="face frente">
                <img src="/IMG/empatia.png" alt="Ícone de Empatia" class="icone">
                <h3 class="titulo-card">Empatia</h3>
            </div>
            <div class="face verso">
                <p class="descricao-card">
                    Compreender e valorizar as experiências e sentimentos dos guardas, oferecendo um espaço seguro para expressar suas preocupações.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face frente">
                <img src="/IMG/abraco.png" alt="Ícone de Apoio Psicológico" class="icone">
                <h3 class="titulo-card">Apoio Psicológico</h3>
            </div>
            <div class="face verso">
                <p class="descricao-card">
                    Prover suporte emocional e psicológico, ajudando os profissionais a lidarem com os desafios do trabalho.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face frente">
                <img src="/IMG/confidencialidade.png" alt="Ícone de Confidencialidade" class="icone">
                <h3 class="titulo-card">Confidencialidade</h3>
            </div>
            <div class="face verso">
                <p class="descricao-card">
                    Garantir que todas as informações compartilhadas sejam tratadas com sigilo, criando um ambiente de confiança.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contato">
<h2 class="titulo-contato" style="text-align: center;">Entre em <span class="Cores_texto">Contato</span></h2>    
    <div class="contato-container">

    <div class="informacoes">
        <h2>Detalhes de Contato</h2><br>
        <p><strong>Endereço:</strong><br> 
            Parque Lagoa dos Pássaros, Travessa Arnaldo Lopes da Silva, 1, Stiep, Salvador - BA
        </p><br>
        <p><strong>Telefones:</strong><br> 
            <a href="tel:+557132025313">71 3202-5313 (GEDHU)</a><br>
            <a href="tel:+5571999916907">71 99991-6907 (Sv Social NUPS)</a>
        </p><br>
        <p><strong>WhatsApp NUPS:</strong><br> 
            <a href="https://wa.me/5571999940373" target="_blank">71 99994-0373</a>
        </p><br>
        <p><strong>Email:</strong><br> 
            <a href="mailto:acolhimentonups@gmail.com">acolhimentonups@gmail.com</a>
        </p><br>
        <p><strong>Horário de Atendimento:</strong><br> 
            Seg - Sex: 08:00 - 17:00
        </p>
    </div>


        <div class="formulario">
            <h3>Fale conosco</h3>
                <form action="/contato/enviar" method="POST"  class="formulario-contato">
                <label for="nome">Seu Nome:</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="email">Seu Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="telefone">Seu Telefone (WhatsApp):</label>
                <input type="tel" id="telefone" name="telefone" required>
                                
                <label for="mensagem">Sua Mensagem:</label>
                <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
                
                <button type="submit" class="botao-enviar">Enviar</button>

                
            </form>
        </div>
    </div>
</section>

<div vw="" class="enabled" style="left: initial; right: 0px; top: 50%; bottom: initial; transform: translateY(calc(-50% - 10px));">
    <div vw-access-button="" class="active"><img class="access-button" data-src="assets/access_icon.svg" alt="Conteúdo acessível em Libras usando o VLibras Widget com opções dos Avatares Ícaro, Hosana ou Guga." src="https://vlibras.gov.br/app//assets/access_icon.svg">
<img class="pop-up" data-src="assets/access_popup.jpg" alt="Conteúdo acessível em Libras usando o VLibras Widget com opções dos Avatares Ícaro, Hosana ou Guga." src="https://vlibras.gov.br/app//assets/access_popup.jpg"></div>
    <div vw-plugin-wrapper=""><div vp="">
  <div vp-box=""></div>
  <div vp-message-box=""></div>
  <div vp-settings=""></div>
  <div vp-dictionary=""></div>
  <div vp-settings-btn=""></div>
  <div vp-info-screen=""></div>
  <div vp-suggestion-screen=""></div>
  <div vp-translator-screen=""></div>
  <div vp-main-guide-screen=""></div>
  <div vp-suggestion-button=""></div>
  <div vp-rate-box=""></div>
  <div vp-change-avatar=""></div>
  <div vp-additional-options=""></div>
  <div vp-controls=""></div>
  <span vp-click-blocker=""></span>
</div></div>
  </div> 
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

<script src="/JS/Pagina_Inicial.js"></script>    
</body>
</html>



<style>
  /* Estilos para as mensagens de alerta */
.alert {
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


.titulo {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
}

</style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {{#if error_msg}}
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: '{{error_msg}}',
                    confirmButtonText: 'Ok'
                });
            {{/if}}
            
            {{#if success_msg}}
                Swal.fire({
                    icon: 'success',
                    title: 'Sucesso',
                    text: '{{success_msg}}',
                    confirmButtonText: 'Ok'
                });
            {{/if}}
        });
    </script>