<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Quem_Somos.css">
    <title>Document</title>
</head>
<body>
   <section class="quem-somos">
          <div class="texto">
            <h2>Núcleo Psicossocial (NUPS)</h2>
             <p> <span>O Núcleo Psicossocial (NUPS)</span>foi criado em <span>2016</span> com o objetivo de atender às crescentes demandas de <span>saúde mental </span> no <span>Centro de Valorização da Guarda Civil Metropolitana</span>. Desde seu início, que contava apenas com uma <span>assistente social</span>, o NUPS cresceu significativamente e agora é formado por mais de <span>15 profissionais</span>, incluindo assistentes sociais, psiquiatra, psicólogos e estagiários de psicologia. </p>
             <br>
            <p> O NUPS desempenha um papel vital na promoção do <span>bem-estar</span> dos guardas municipais, oferecendo uma variedade de serviços que atendem a diferentes necessidades. Nossas principais atividades incluem <span>psicoterapia individual, atendimentos psicossociais e psiquiátricos </span> , que visam proporcionar apoio emocional e orientação profissional. Além disso, realizamos <span>acolhimento emergencial</span> em situações críticas, como <span>ideação suicida e surtos</span>, garantindo que os guardas recebam a assistência necessária em momentos de crise. </p>
            <br>
            <p>Nossa atuação se estende a <span>visitas hospitalares e domiciliares</span>, onde oferecemos apoio contínuo e acompanhamento personalizado. Também promovemos <span>rodas de conversa</span> e <span>oficinas psicossociais</span>, que incentivam a troca de experiências e o fortalecimento dos vínculos entre os profissionais. As <span>capacitações</span> oferecidas visam aprimorar as habilidades dos nossos profissionais, permitindo uma atuação mais eficaz na promoção da <span>saúde mental</span>. Nosso compromisso é garantir um ambiente <span>acolhedor e seguro</span>, onde cada guarda e sua família possam encontrar o suporte necessário para enfrentar os desafios do dia a dia. Estamos aqui para cuidar da <span>saúde mental</span> e contribuir para o <span>fortalecimento da equipe</span>, reconhecendo a importância de cada indivíduo dentro da corporação.</p>
            </div>
            <div class="imagem">
                <img src="/IMG/Questions-cuate.png" alt="Imagem do Núcleo Psicossocial">
        </div>
        </section>
</body>
</html>