.footer {
    background-color: #072C47;               
    color: white;                            
    padding: 60px 30px;                      
    font-family: 'Lato', sans-serif;       
    margin-top: 160px;
}

.footer-container {
    display: flex;                         
    justify-content: space-between;      
    max-width: 1200px;                      
    margin: 0 auto;                         
    flex-wrap: wrap;                        
    gap: 20px; /* Adiciona espaçamento entre as colunas */
}

.footer-info,
.footer-links,
.footer-contato {
    flex: 1;                                
    padding: 0 20px;                        
    min-width: 200px;                        
}

.footer-info h3,
.footer-links h3,
.footer-contato h3 {
    font-size: 1.5em;                        
    margin-bottom: 15px;                    
    border-bottom: 2px solid #B0DFF5;       
    padding-bottom: 10px;                    
}

.footer-links ul {
    list-style-type: none;                 
    padding: 0;                         
}

.footer-links li {
    margin-bottom: 10px;                     
}

.footer-links a {
    color: #B0DFF5;                          
    text-decoration: none;                  
    transition: color 0.3s;                 
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre ícone e texto */
}

.footer-links a:hover {
    color: #75C0EE;                        
    text-decoration: underline;            
}

.footer-contato p {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre ícone e texto */
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;                     
    margin-top: 40px;                     
    font-size: 0.9em;                       
    padding-top: 30px;                      
    border-top: 1px solid #B0DFF5; /* Linha divisória */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info,
    .footer-links,
    .footer-contato {
        padding: 20px 0;
    }

    .footer-links a,
    .footer-contato p {
        justify-content: center;
    }
}