<h1>Editar Produto</h1>
<form action="/produtos/{{produto.id}}?_method=PUT" method="POST" class="mt-4">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{produto.nome}}" required minlength="3" maxlength="255" class="form-control">
    </div>

    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required minlength="10" maxlength="500" class="form-control">{{produto.descricao}}</textarea>
    </div>

    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoria" required class="form-control">
            <option value="" disabled>Selecione uma categoria</option>
            <option value="Papelaria" {{#if (eq produto.categoria 'Papelaria')}}selected{{/if}}>Papelaria</option>
            <option value="Higiene" {{#if (eq produto.categoria 'Higiene')}}selected{{/if}}>Higiene</option>
            <option value="Alimentos" {{#if (eq produto.categoria 'Alimentos')}}selected{{/if}}>Alimentos</option>
            <option value="Eletrônicos" {{#if (eq produto.categoria 'Eletrônicos')}}selected{{/if}}>Eletrônicos</option>
            <option value="Limpeza" {{#if (eq produto.categoria 'Limpeza')}}selected{{/if}}>Limpeza</option>
            <option value="Outros" {{#if (eq produto.categoria 'Outros')}}selected{{/if}}>Outros</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fornecimento">Fornecimento:</label>
        <input type="text" id="fornecimento" name="fornecimento" value="{{produto.fornecimento}}" required class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Salvar Alterações</button>
</form>

