<div class="container mt-5">
    <form action="/pacientes" method="POST" onsubmit="setCurrentDate()" enctype="multipart/form-data">

          <!-- Informações Pessoais -->
    {{#if success_msg}}
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          Swal.fire({
            icon: 'success',
            title: 'Sucesso',
            text: '{{success_msg}}',
            confirmButtonText: 'Ok'
          });
        });
      </script>
    {{/if}}

    <!-- Mensagens de erro -->
    {{#if error_msg}}
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          Swal.fire({
            icon: 'error',
            title: 'Erro',
            text: '{{error_msg}}',
            confirmButtonText: 'Ok'
          });
        });
      </script>
    {{/if}}
    
        <h2 class="text-center mb-4" style="color: #2980b9; font-weight: bold;">Ficha de Acolhimento</h2>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.1.1/build/vanilla-masker.min.js"></script>

        <input type="hidden" name="dataAtendimento" id="dataAtendimento">

<fieldset class="border rounded p-3 mb-3">
    <legend class="w-auto px-2">Informações Pessoais</legend>


    <div class="form-group">
        <label for="nomePaciente">Nome do Servidor:</label>
        <input type="text" name="nome" id="nomePaciente" class="form-control" oninput="mostrarSugestoes()" required placeholder="Digite o nome do paciente">
        <div id="sugestoes" class="sugestoes-lista"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="matricula">Matrícula:</label>
            <input type="text" class="form-control" name="matricula" required id="matricula">
        </div>
        <div class="col-md-6">
            <label for="escolaridade">Escolaridade:</label>
            <select class="form-control" name="escolaridade" id="escolaridade" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="Ensino Fundamental">Ensino Fundamental</option>
                <option value="Ensino Médio">Ensino Médio</option>
                <option value="Superior">Superior</option>
            </select>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" required>
        </div>
        <div class="col-md-6">
            <label for="sexo">Sexo:</label>
            <select class="form-control" name="sexo" id="sexo" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
            </select>
        </div>
    </div>

<div class="row mt-2">
    <div class="col-md-6">
        <label for="rg">RG:</label>
        <input
            type="text"
            class="form-control"
            name="rg"
            id="rg"
            required
            pattern="\d{2}\.\d{3}\.\d{3}-\d{1}"
            title="Digite um RG válido com 9 dígitos"
        >
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-6">
        <label for="telefone">Telefone:</label>
        <input
            type="text"
            class="form-control"
            name="telefone"
            id="telefone"
            required
            pattern="\(\d{2}\) \d{5}-\d{4}"
            title="Digite um telefone válido no formato (00) 00000-0000"
        >
    </div>
        <div class="col-md-6">
            <label for="tipoTelefone">Tipo de Telefone:</label>
            <select class="form-control" name="tipoTelefone" id="tipoTelefone">
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="Celular">Celular</option>
                <option value="Residencial">Residencial</option>
                <option value="Comercial">Comercial</option>
            </select>
        </div>
    </div>
</fieldset>


<fieldset class="border p-4 mb-4">
    <legend>Imagem do Servidor</legend>
    <div class="form-group">
        <label for="imagemPaciente">Carregar Imagem:</label>
        <input type="file" class="form-control" name="imagem" id="imagemPaciente" accept="image/*" onchange="previewImage(event)">
        <small class="form-text text-muted">Formatos aceitos: JPG, PNG, GIF.</small>

        <div class="preview-container mt-3" style="position: relative; display: none;">
            <img id="imagemPreview" src="#" alt="Pré-visualização da Imagem" class="img-thumbnail shadow" style="max-width: 200px; display: block;">
            <button type="button" class="btn btn-danger btn-sm position-absolute" style="top: 5px; right: 5px;" onclick="removerImagem()">X</button>
        </div>

        <p id="fileName" class="text-muted mt-2"></p>
    </div>
</fieldset>


<fieldset class="border p-3 mb-3">
    <legend>Endereço</legend>
    <div class="row">
        <div class="col-md-4">
            <label for="cep">CEP:</label>
            <input type="text" class="form-control" name="cep" id="cep" required pattern="\d{5}\-\d{3}\." title="Digite um CEP válido com 8 números" onblur="buscarEndereco()">
        </div>
        <div class="col-md-8">
            <label for="endereco">Endereço:</label>
            <input type="text" class="form-control" name="endereco" id="endereco" required>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" name="bairro" id="bairro" required>
        </div>
        <div class="col-md-4">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" name="cidade" id="cidade" required>
        </div>
        <div class="col-md-4">
            <label for="estado">Estado:</label>
            <input type="text" class="form-control" name="estado" id="estado" pattern="[A-Z]{2}" title="O estado deve ter exatamente 2 caracteres alfabéticos maiúsculos." required>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="numero">Número:</label>
            <input type="text" class="form-control" name="numero" id="numero" required>
        </div>
        <div class="col-md-8">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" name="complemento" id="complemento">
        </div>
    </div>
</fieldset>


        <fieldset class="border p-4 mb-4">
            <legend class="w-auto px-2">Contato de Emergência</legend>

            <div class="form-group">
                <label for="nomeContato">Nome do Contato:</label>
                <input type="text" class="form-control" name="nomeContato" id="nomeContato">
            </div>

            <div class="form-group">
                <label for="telefoneContato">Telefone:</label>
                <input type="text" class="form-control" name="telefoneContato" id="telefoneContato" pattern="\(\d{2}\) \d{5}-\d{4}" title="Digite um telefone válido com 10 ou 11 números">
            </div>

            <div class="form-group">
                <label for="parentesco">Parentesco:</label>
                <select class="form-control" name="parentesco" id="parentesco">
                    <option value="" disabled selected>Selecione o grau de parentesco</option>
                    <option value="Pai">Pai</option>
                    <option value="Mãe">Mãe</option>
                    <option value="Filho">Filho</option>
                    <option value="Cônjuge">Cônjuge</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
        </fieldset>

        <fieldset class="border p-4 mb-4">
            <legend class="w-auto px-2">Histórico de Saúde</legend>

            <div class="form-group">
                <label for="alergia">Possui alergia a algum medicamento?</label>
                <select class="form-control" name="alergia" id="alergia" onchange="toggleField('alergia', 'alergiaMedicamento')">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="alergiaMedicamento" style="display:none;">
                <label for="alergiaMedicamento">Medicamento:</label>
                <input type="text" class="form-control" name="alergiaMedicamento" id="alergiaMedicamentoInput">
            </div>

            <div class="form-group">
                <label for="medicamentos">Faz uso de medicação de controle?</label>
                <select class="form-control" name="medicamentos" id="medicamentos" onchange="toggleField('medicamentos', 'tipoMedicamento')">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="tipoMedicamento" style="display:none;">
                <label for="tipoMedicamento">Nome do medicamento:</label>
                <input type="text" class="form-control" name="tipoMedicamento" id="tipoMedicamentoInput">
            </div>

            <div class="form-group">
                <label for="terapia">Já fez terapia?</label>
                <select class="form-control" name="terapia" id="terapia" onchange="toggleField('terapia', 'terapiaPeriodo', 'terapiaMotivo')">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="terapiaPeriodo" style="display:none;">
                <label for="terapiaPeriodo">Período da Terapia:</label>
                <input type="text" class="form-control" name="terapiaPeriodo" id="terapiaPeriodoInput">
            </div>

            <div class="form-group" id="terapiaMotivo" style="display:none;">
                <label for="terapiaMotivo">Motivo da Terapia:</label>
                <input type="text" class="form-control" name="terapiaMotivo" id="terapiaMotivoInput">
            </div>

            <div class="form-group">
                <label for="atividadeFisica">Faz atividade física?</label>
                <select class="form-control" name="atividadeFisica" id="atividadeFisica" onchange="toggleField('atividadeFisica', 'tipoAtividadeFisica')">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="tipoAtividadeFisica" style="display:none;">
                <label for="tipoAtividadeFisica">Tipo de Atividade Física:</label>
                <input type="text" class="form-control" name="tipoAtividadeFisica" id="tipoAtividadeFisicaInput">
            </div>

            <div class="form-group">
                <label for="observacoes">Observações:</label>
                <textarea class="form-control" name="observacoes" id="observacoes" rows="3"></textarea>
            </div>
        </fieldset>

        <fieldset class="border p-4 mb-4">
            <legend class="w-auto px-2">Outras Informações</legend>

            <div class="form-group">
                <label for="planoSaude">Plano de Saúde:</label>
                <input type="text" class="form-control" name="planoSaude" id="planoSaude">
            </div>

            <div class="form-group">
                <label for="cartaoSus">Cartão SUS:</label>
                <input type="text" class="form-control" name="cartaoSus" id="cartaoSus">
            </div>

            <div class="form-group">
                <label for="seguroVida">Seguro de Vida:</label>
                <input type="text" class="form-control" name="seguroVida" id="seguroVida">
            </div>

            <div class="form-group">
                <label for="comoConheceuEmpresa">Como conheceu o NUPS:</label>
                <input type="text" class="form-control" name="comoConheceuEmpresa" id="comoConheceuEmpresa">
            </div>
        </fieldset>

       <fieldset class="border p-3 mb-3">
    <legend class="w-auto px-2">Informações de Serviço</legend>
    <div class="row">
        <div class="col-md-6">
            <label for="postoServico">Posto de Serviço:</label>
            <input type="text" class="form-control" name="postoServico" id="postoServico">
        </div>
        <div class="col-md-6">
            <label for="escala">Escala:</label>
            <select class="form-control" name="escala" id="escala">
            <option value="">Selecione uma escala</option>
            <option value="24x72">24x72</option>
            <option value="12x36">12x36</option>
            <option value="12x60">12x60</option>
        </div>
        <div class="col-md-6">
            <label for="periodoEscala">Tempo de escala:</label>
            <input type="text" class="form-control" name="periodoEscala" id="periodoEscala">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label for="tempoServico">Tempo de posto:</label>
            <input type="text" class="form-control" name="tempoServico" id="tempoServico">
        </div>
        <div class="col-md-6">
            <label for="relacaoSupervisor">Relacão com o supervisor imediato:</label>
            <input type="text" class="form-control" name="relacaoSupervisor" id="relacaoSupervisor">
        </div>
    </div>
</fieldset>

        <fieldset class="border p-4 mb-4">
            <legend class="w-auto px-2">Com quem reside</legend>

            <div class="form-group">
                <label for="moradia">Moradia:</label>
                <input type="text" class="form-control" name="moradia" id="moradia">
            </div>

            <div class="form-group">
                <label for="familiaDeficiencias">Família com Deficiências:</label>
                <select class="form-control" name="familiaDeficiencias" id="familiaDeficiencias" onchange="toggleField('familiaDeficiencias', 'deficiencia')">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="deficiencia" style="display:none;">
                <label for="deficiencia">Deficiência:</label>
                <input type="text" class="form-control" name="deficiencia" id="deficienciaInput">
            </div>
        </fieldset>

        <fieldset class="border p-4 mb-4">
            <legend class="w-auto px-2">Informações Adicionais</legend>

            <div class="form-group">
            <label for="possuiFilhos">Filhos:</label>
            <select class="form-control" name="possuiFilhos" id="possuiFilhos" onchange="toggleFilhos()">
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
            </div>

            <div id="quantidadeFilhosContainer" style="display:none;">
            <label for="quantidadeFilhos">Quantidade de Filhos:</label>
            <input type="number" class="form-control" name="quantidadeFilhos" id="quantidadeFilhosInput" min="1" oninput="gerarCamposFilhos()">
            </div>

            <div id="filhosContainer" style="display:none;">
            <div id="filhosLista"></div>
            </div>

            <input type="hidden" name="filhos" id="jsonFilhos">


            <div class="form-group">
                <label for="porteArma">Porte de Arma:</label>
                <select class="form-control" name="porteArma" id="porteArma" onchange="toggleField('porteArma', 'trabalhoArmado', 'armaPessoal')">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="trabalhoArmado" style="display:none;">
                <label for="trabalhoArmado">Trabalho Armado:</label>
                <select class="form-control" name="trabalhoArmado" id="trabalhoArmado">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>

            <div class="form-group" id="armaPessoal" style="display:none;">
                <label for="armaPessoal">Arma Pessoal:</label>
                <select class="form-control" name="armaPessoal" id="armaPessoal">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>
        </fieldset>

        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Relatório de Atendimento</legend>

            <div class="form-group">
                <label for="relatorio">Relatório:</label>
                <textarea class="form-control" name="relatorio" id="relatorio" rows="4" placeholder="Descreva o acolhimento"></textarea>
            </div>
        </fieldset>



        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<script>
    function toggleFilhos() {
  const select = document.getElementById('possuiFilhos');
  const quantidadeFilhosDiv = document.getElementById('quantidadeFilhosContainer');
  const filhosContainer = document.getElementById('filhosContainer');
  const filhosLista = document.getElementById('filhosLista');

  if (select.value === 'true') {
    quantidadeFilhosDiv.style.display = 'block';
    filhosContainer.style.display = 'block';
  } else {
    quantidadeFilhosDiv.style.display = 'none';
    filhosContainer.style.display = 'none';
    filhosLista.innerHTML = ''; // Remove os campos se "Não" for selecionado
  }
}

function gerarCamposFilhos() {
  const quantidade = document.getElementById('quantidadeFilhosInput').value;
  const filhosLista = document.getElementById('filhosLista');

  filhosLista.innerHTML = ''; // Limpa os campos antes de recriá-los

  for (let i = 0; i < quantidade; i++) {
    const div = document.createElement('div');
    div.classList.add('mb-2');
    div.innerHTML = `
    <div class="row mb-3">
        <div class="col-md-6">
        <label>Nome do Filho ${i + 1}</label>
        <input type="text" class="form-control" name="filhos[${i}][nome]" placeholder="Nome do Filho">
        </div>
    <div class="col-md-6">
      <label>Idade</label>
      <input type="number" class="form-control" name="filhos[${i}][idade]" placeholder="Idade do Filho">
    </div>
    </div>
    `;
    filhosLista.appendChild(div);
  }
}

document.querySelector('form').addEventListener('submit', function (event) {
  const filhos = [];
  document.querySelectorAll('#filhosLista div').forEach(div => {
    const nome = div.querySelector('input[name^="filhos["][name$="[nome]"]').value;
    const idade = div.querySelector('input[name^="filhos["][name$="[idade]"]').value;
    if (nome && idade) {
      filhos.push({ nome, idade });
    }
  });

  document.getElementById('jsonFilhos').value = JSON.stringify(filhos);
});


    function toggleField(selectId, ...fieldIds) {
        const selectElement = document.getElementById(selectId);
        fieldIds.forEach(fieldId => {
            const fieldElement = document.getElementById(fieldId);
            if (selectElement.value === 'true') {
                fieldElement.style.display = 'block';
            } else {
                fieldElement.style.display = 'none';
            }
        });
    }

    async function buscarEndereco() {
        const cep = document.getElementById('cep').value.replace('-', '');
        if (cep) {
            try {
                const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
                const data = await response.json();

                if (!data.erro) {
                    document.getElementById('endereco').value = data.logradouro || '';
                    document.getElementById('bairro').value = data.bairro || '';
                    document.getElementById('cidade').value = data.localidade || '';
                    document.getElementById('estado').value = data.uf || '';
                } else {
                    alert('CEP não encontrado.');
                }
            } catch (error) {
                alert('Erro ao buscar o endereço.');
            }
        }
    }

        function previewImage(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('imagemPreview');
            const previewContainer = document.querySelector('.preview-container');
            const fileName = document.getElementById('fileName');

            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    previewContainer.style.display = 'block';
                    fileName.textContent = `Imagem selecionada: ${file.name}`;
                };
                reader.readAsDataURL(file);
            } else {
                removerImagem();
            }
        }

        function removerImagem() {
            const preview = document.getElementById('imagemPreview');
            const previewContainer = document.querySelector('.preview-container');
            const fileInput = document.getElementById('imagemPaciente');
            const fileName = document.getElementById('fileName');

            preview.src = "#";
            previewContainer.style.display = 'none';
            fileInput.value = "";
            fileName.textContent = "";
        }

    function setCurrentDate() {
        const currentDate = new Date().toISOString().split('T')[0];
        document.getElementById('dataAtendimento').value = currentDate;
    }

    function preencherDadosPaciente() {
        const select = document.getElementById("nome");
        const selectedOption = select.options[select.selectedIndex];

        const matricula = selectedOption.getAttribute("data-matricula");
        const numeroProcesso = selectedOption.getAttribute("data-processo");

        document.getElementById("matricula").value = matricula || "";
        document.getElementById("numeroProcesso").value = numeroProcesso || "";
    }

    const atendimentos = {{{json atendimentos}}};

    function mostrarSugestoes() {
        const input = document.getElementById("nomePaciente").value.toLowerCase();
        const sugestoesDiv = document.getElementById("sugestoes");

        sugestoesDiv.innerHTML = '';
        sugestoesDiv.style.display = 'none';

        const sugestoes = atendimentos.filter(atendimento =>
            atendimento.nomePaciente.toLowerCase().includes(input)
        );

        if (sugestoes.length > 0) {
            sugestoesDiv.style.display = 'block';
            sugestoes.forEach(atendimento => {
                const item = document.createElement("div");
                item.textContent = atendimento.nomePaciente;
                item.onclick = () => selecionarPaciente(atendimento);
                sugestoesDiv.appendChild(item);
            });
        }
    }

    function selecionarPaciente(atendimento) {
        document.getElementById("nomePaciente").value = atendimento.nomePaciente;
        document.getElementById("matricula").value = atendimento.matricula;
        document.getElementById("numeroProcesso").value = atendimento.numeroProcesso;

        document.getElementById("sugestoes").style.display = 'none';
    }

    document.addEventListener("click", function(event) {
        const sugestoesDiv = document.getElementById("sugestoes");
        if (!sugestoesDiv.contains(event.target) && event.target.id !== "nomePaciente") {
            sugestoesDiv.style.display = 'none';
        }
    });


       // Aplicar máscaras após o carregamento da página
  document.addEventListener("DOMContentLoaded", function () {
    // Máscara para o telefone (formato: (00) 00000-0000)
    VMasker(document.getElementById("telefone")).maskPattern("(99) 99999-9999");

    // Máscara para o telefone de contato (formato: (00) 00000-0000)
    VMasker(document.getElementById("telefoneContato")).maskPattern("(99) 99999-9999");

    // Máscara para o CEP (formato: 00000-000)
    VMasker(document.getElementById("cep")).maskPattern("99999-999");
  });
</script>


<style>



    h2 {
        font-size: 28px;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        margin: 0 auto;
    }

    fieldset {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
    }

    legend {
        font-size: 18px;
        color: #333;
        font-weight: bold;
        padding: 0 10px;
        background-color: #f9f9f9;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        color: #555;
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    input[type="number"]#escala {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    #imagemPreview {
        display: block;
        margin-top: 10px;
        max-width: 200px;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
    }

    button[type="submit"]:hover {
        background-color: #2980b9;
    }

    select,
    input[type="file"] {
        padding: 10px;
        font-size: 14px;
    }

    textarea {
        padding: 10px;
        font-size: 14px;
        height: 120px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    input[pattern] {
        font-family: 'Courier New', monospace;
    }

    input[type="file"] {
        padding: 5px;
    }

    select {
        padding: 10px;
    }

    #alergiaMedicamento,
    #descricaoDoenca,
    #tipoMedicamento,
    #terapiaPeriodo,
    #terapiaMotivo,
    #tipoAtividadeFisica,
    #quantidadeFilhos,
    #idadeFilhos,
    #deficiencia {
        display: none;
    }

    form fieldset + fieldset {
        margin-top: 30px;
    }

    /* Estilos responsivos */
    @media (max-width: 768px) {
        h2 {
            font-size: 24px;
        }

        form {
            padding: 15px;
        }

        fieldset {
            padding: 15px;
        }

        legend {
            font-size: 16px;
        }

        input[type="text"],
        input[type="date"],
        input[type="file"],
        select,
        textarea {
            font-size: 12px;
            padding: 8px;
        }

        button[type="submit"] {
            font-size: 14px;
            padding: 8px 16px;
        }

        textarea {
            height: 100px;
        }
    }

    @media (max-width: 480px) {
        h2 {
            font-size: 20px;
        }

        form {
            padding: 10px;
        }

        fieldset {
            padding: 10px;
        }

        legend {
            font-size: 14px;
        }

        input[type="text"],
        input[type="date"],
        input[type="file"],
        select,
        textarea {
            font-size: 10px;
            padding: 6px;
        }

        button[type="submit"] {
            font-size: 12px;
            padding: 6px 12px;
        }

        textarea {
            height: 80px;
        }
    }
</style>